.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container label {
  font-family: 'Nunito';
  font-size: .8rem;
  line-height: 1.2rem;
  font-weight: 400;
  color: #757575;
}

.labelContainer {
  padding-bottom: 5px;

}

.container input {
  width: 100%;
  font-size: .8rem;
  font-weight: 400;
  color: #757575;
  background-color: var(--bg-color);
  outline: none;
  border: 1px solid #b4b1b1;
  padding: .5rem;
  border-radius: 10px;
}

.container input:focus {
  border: 1px solid var(--primary-color);

}