:root {
  --primary-color: #3DA2EA;
  --bg-color: #e5e5e5;
}

/* ---------------------------------- FONTS --------------------------------- */
@font-face {
  font-family: 'Monserrat';
  src: url('/assets/fonts/Montserrat/static/Montserrat-Regular.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Monserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #e5e5e5;
  font-size: 16px;
}

.btn {
  padding: 10px 30px 10px 30px;
  text-transform: uppercase;
  border-radius: 12px;
  border: none;
}

.btn-primary {
  background-color: var(--primary-color);
  color: white;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

/* -------------------------------- PADDINGS -------------------------------- */
.pt-2 {
  padding-top: 1rem;
}

.pt-4 {
  padding-top: 2rem;
}


.default-input {
  font-size: .8rem;
  font-weight: 400;
  color: #757575;
  background-color: var(--bg-color);
  outline: none;
  border: 1px solid #b4b1b1;
  padding: .5rem;
  border-radius: 10px;
}