.header {
  border-bottom: 1px solid #4c5d68;
}

.container {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

.container h1 {
  font-size: 26px;
}